<div>
    <h2>Products cart n°: {{cid}} </h2>
    <button><a href="/home">Home</a></button>
        {{#if cartProducts}}
        {{#each cartProducts}}
            <div>
                <h3>{{this.product.title}}</h3>
                <p>description: {{this.product.description}}</p>
                <p>price: {{this.product.price}}</p>
                <p>category: {{this.product.category}}</p>
                <p>quantity: {{this.quantity}} </p>
                <p>id: {{this.product.id}}</p>
                <button type="button" id="deleteProductCartBtn" onclick="deleteProductCart('{{this.product.id}}')">Delete from cart</button>
            </div>
        {{/each }} 
            <br>
            <br>
            <button type="button" id="purchaseBtn"><a href="/api/v1/carts/{{cid}}/purchase">Purchase</a></button>
            {{else}}
            <p>No products found</p>
        {{/if}}
    
    
</div>

<script src="/js/deleteproductcart.js"></script>